.about {
  margin: auto;
  padding: 2rem 1rem 0 1rem;
  width: 100%;
}

.card-about {
  width: 1240px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about h2 {
  font-size: 3rem;
}

.about .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

.about .col-2 p:first-of-type {
  margin: 8rem 0;
}

.about .col-2 p:nth-child(4) {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 600;
}
.about_team {
  display: grid;
}
.about_team a {
  margin: 2px;
  display: inline-block;
  font-size: 0.8rem;
  color: black;
}
.col-6 {
  color: black;
}

@media screen and (max-width: 1240px) {
  .about .card-about {
    grid-template-columns: 1fr;
  }

  .about .card-about {
    width: 100%;
  }

  .about .card-about img {
    padding: 0rem;
    width: 90vw;
  }

  .about .card-about .col-2 {
    padding: 0;
  }
}
.cardTeam {
  padding: 50px;
}
.medsos {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.umi{
  justify-content: center;
  font-size: 50px;
}
.line{
  font-size: 30px;
}
.ikbal {
  font-size: 20px;
}