.paragraph {
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  letter-spacing: 2px;
}

#content {
  /* display:flex; */
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 5%;
  border-width: 2px;
  padding-left: 5%;
  padding-right: 5%;
}

.card {
  position: absolute;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(59, 106, 235, 0.877);
}

.card-body {
  background-color: rgb(255, 255, 255);
  color: rgb(10, 28, 112) !important;
  border: 5px;
  text-align: center;
  padding: 10px 20px;
}

.container {
  border-radius: 5px;
  border-spacing: 5px;
  justify-content: space-around;
}
