.card-logo {
  align-items: center;
}

.img-logo {
  background-color: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}

.btn-menu {
  background-color: rgb(60, 64, 71) !important;
  color: rgb(168, 196, 248) !important;
}
